@media screen and (max-width: 1025px) {

/*= Main Navigation
-----------------------------------------*/
nav.submenu a {
	margin-left: 10px;
}

/*= Footer
-----------------------------------------*/
#footer > div {
	display: block;
	margin: 0 1%;
	width: 24%;
	float: left;
	padding: 10px 0 20px 0;
}

}