/*= Main Navigation
-----------------------------------------*/
#access ul li a {
	/*padding: 9px 17px 9px 17px;*/
}

/*= Footer
-----------------------------------------*/
#footer div a {
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
}

#footer div a:hover {
	text-decoration: underline;
}

/*= Front page
-----------------------------------------*/
.home #frontpage-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5%;
	z-index: 9999;
	overflow: auto;
	display: none;

	background: #000000;
	background: rgba(0, 0, 0, .6);
}
#frontpage-content .modal {
	background-color: white;
	max-width: 700px;
	margin: 0 auto;
}

#frontpage-content .header {
	text-align: center;
}

.home #frontpage-sidebar {
	float: none;
	width: 100%;
}

.home #frontpage-content header,
.home #frontpage-content article,
.home #frontpage-content footer
{
	width: 96%;
	max-width: 600px;
	margin: 0 auto;
	padding: 2%;

	background: #f2f2f2;

	border-bottom: none;
}

.home #frontpage-content header {
	padding-bottom: 0;
}

.home #frontpage-content header h1 {
	padding: 0;
	padding-left: 35px;

	background: url('../img/logo.png') no-repeat 0 2px;
	box-shadow: none;

	color: #007597;
}

.home #frontpage-content article p {
	padding-left: 35px;

	font-family: 'TradeGothicLTStdBdCnNo.20', Arial, sans-serif;
	color: #6d6e72;
	font-size: 2em; /*= 20px */
}

.home #frontpage-content footer {
	cursor: pointer;

	background: #3a9ecf;

	text-align: center;
}

.home #frontpage-content footer a {
	padding-right: 35px;

	font-family: 'TradeGothicLTStdBdCnNo.20', Arial, sans-serif;
	color: #ffffff;
	font-size: 2em; /*= 20px */
	text-decoration: none;

	background: url('../img/logo-white.png') no-repeat 100% 50%;
}

.home #frontpage-content footer:hover {
	background: #d2d3d5;
}

/*= Campus chooser
-----------------------------------------*/
#frontpage-content .header {
    padding: 20px;
    padding-bottom: 10px;
    font-style: italic;
    color: #939393;
}
#frontpage-content .header img {
    max-width: 300px;
}
.campus-chooser li {
	position: relative;
    margin-bottom: 10px;
	cursor: pointer;
    background-size: 120%;
    background-position: 95% 7%;
    color: white;
}

.campus-chooser li:hover {
	background-color: #1C9DC2;
}


.campus-chooser .title, .campus-chooser .service-times {
    display: inline-block;
    float: left;
    padding: 10px 30px;
    width: 50%;
    color: white;
}
.campus-chooser .campus-info {
    padding: 15px 0;
    overflow: auto;
}
.campus-chooser .campus-info:hover {
    background-color: rgba(28, 157, 194, .5);
}

.campus-chooser .campus-info .title {
    border-right: 2px solid white;
}
.campus-chooser .title p {
    font-style: italic;
    margin-top: 10px;
}

.campus-chooser a {
    font-family: 'TradeGothicLTStdBdCnNo.20';
    letter-spacing: 0.03em;
	font-size: 3em !important /*= 30px */;
    color: white;
    padding: 0;
}

.campus-chooser li:after {
	display: block;
	height: 0;
	content: ' ';
	clear: both;
}

.campus-chooser .map {
	float: left;
	vertical-align: top;
	width: 15%;
	padding: 5px;
	margin-right: 10px;
}

.campus-chooser .campus-info {
	vertical-align: top;
}

.campus-chooser .service-times {

}
.campus-chooser .service-times span {
    display: block;
    margin-bottom: 8px;
	font-family: 'TradeGothicLTStdBdCnNo.20', Arial, sans-serif;
    letter-spacing: 0.02em;
	font-size: 2em /*= 20px */
}
#frontpage-content .continue {
    display: block;

    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;

    background-color: #1C9DC2;
    color: white;

    width: 100%;
    padding: 25px 0;

}
#frontpage-content .continue:hover {
    background-color: #0D6078;
}


@media screen and (max-width: 569px) {
    #frontpage-content {
        padding: 2%;
    }
    .campus-chooser .title, .campus-chooser .service-times {
        display: block;
        float: none;
        padding: 0px 30px;
        width: 100%;
        color: white;
    }
    .campus-chooser .campus-info .title {
        border: none;
    }
}
