body {
	background: url('images/bkg.png') repeat #e8e8e8;
}

/*= Main Navigation
-----------------------------------------*/
#access ul li a {
	padding: 5px 15px 4px 15px;
}

/*= Footer
-----------------------------------------*/
#footer div a {
	color: #747474;
	text-decoration: none;
	font-size: 1.3em;
}

#footer div a:hover {
	text-decoration: underline;
}

/*= Front page
-----------------------------------------*/
.home #frontpage-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	padding: 5%;
	z-index: 9999;
	overflow: auto;
	display: none;

	background: #000000;
	background: rgba(0, 0, 0, .4);
}

.home #frontpage-sidebar {
	float: none;
	width: 100%;
}

.home #frontpage-content header,
.home #frontpage-content article,
.home #frontpage-content footer
{
	width: 96%;
	max-width: 600px;
	margin: 0 auto;
	padding: 2%;

	background: #f2f2f2;

	border-bottom: none;
}

.home #frontpage-content header {
	padding-bottom: 0;
}

.home #frontpage-content header h1 {
	padding: 0;
	padding-left: 35px;

	background: url('../img/logo.png') no-repeat 0 2px;
	box-shadow: none;

	color: #007597;
}

.home #frontpage-content article p {
	padding-left: 35px;

	font-family: 'TradeGothicLTStdBdCnNo.20', Lucida, Helvetica, Arial, sans-serif;
	color: #6d6e72;
	font-size: 2em; /*= 20px */
}

.home #frontpage-content footer {
	cursor: pointer;

	background: #3a9ecf;

	text-align: center;
}

.home #frontpage-content footer a {
	padding-right: 35px;

	font-family: 'TradeGothicLTStdBdCnNo.20', Lucida, Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 2em; /*= 20px */
	text-decoration: none;

	background: url('../img/logo-white.png') no-repeat 100% 50%;
}

.home #frontpage-content footer:hover {
	background: #d2d3d5;
}

/*= Campus chooser
-----------------------------------------*/
.campus-chooser li {
	position: relative;
	padding: 10px;

	cursor: pointer;

	background: #d2d3d5;
}

.campus-chooser li:hover {
	background: #f2f2f2;
}

.campus-chooser a {
	padding: 0;
	color: #404042;
	font-size: 4em !important /*= 30px */;
}

.campus-chooser li:after {
	display: block;
	height: 0;
	content: ' ';
	clear: both;
}

.campus-chooser .map {
	float: left;
	vertical-align: top;
	width: 15%;
	padding: 5px;
	margin-right: 10px;
}

.campus-chooser .campus-info {
	vertical-align: top;
	width: 85%;
}

.campus-chooser .service-times span {
	display: block;

	font-family: 'TradeGothicLTStdBdCnNo.20', Lucida, Helvetica, Arial, sans-serif;
	color: #6d6e72;
	font-size: 2em /*= 20px */
}
