@media screen and (max-width: 569px) {

/*= Front page
-----------------------------------------*/
.home #frontpage-content header,
.home #frontpage-content article,
.home #frontpage-content footer
{
	width: 90%;
	padding: 5%;
}

/*= Campus chooser
-----------------------------------------*/
.campus-chooser li {
	display: block;
}

.campus-chooser .map {
	display: none;
}

.campus-chooser .campus-info {
	display: block;
	width: 100%;
}

/*= Footer
-----------------------------------------*/


#footer > div.third {
	clear: both;
}

}
